@{
 Layout = "_Layout";
}

<div class="error-page">
    <div class="error-page-content">
        <div class="error-img">
            <div class="error-img-code">404</div>
            <img src="~/img/404.svg" alt="Not Found">
        </div>
        <h1>Oops!</h1>
        <h3>No pudimos resolver tu solicitud</h3>
        <a href="/" class="btn btn-success">Volver al Inicio</a>
    </div>
</div>