@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperar contraseña";
    ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    ViewData["AppWithoutHeader"] = true;
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutFotter"] = true;
    ViewData["AppWithoutContainer"] = true;
    var url = ViewData["UrlEmpresa"] as string;
    var nit = ViewData["Nit"] as string;
    var salt = ViewData["Salt"] as string;
    var logo = ViewData["Logo"] as string;
}
<div class="container-fluid fixed-top d-flex justify-content-start my-2">
    <img src="@logo" width="200px" height="30px" class="img-fluid" alt="Logo PowerBy GeneralLedger">
</div>
<div class="container mt-3">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h3 style="text-align:center">Recuperar Contraseña</h3>
                    <section>
                        <form method="post">

                            <div class="form-group">
                                <label for="" class="form-label">Usuario o Correo Electrónico</label>
                                <input asp-for="Input.Email" class="form-control" />
                                <input id="Input_Salt" name="Input.Salt" type="hidden" value="@salt" class="form-control" />
                                <input id="Input_Nit" name="Input.Nit" type="hidden" value="@nit" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <button type="submit" class="btn btn-primary">Recuperar</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
