@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Recuperar contraseña";
    ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    ViewData["AppWithoutHeader"] = true;
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutFotter"] = true;
    ViewData["AppWithoutContainer"] = true;
}

<div style="position: fixed;">
    <a href="https://www.multitranssas.com" target="_blank"><img src="~/img/MultiLogo.png" alt="" style="align-self:center" width="255" height="83" /></a>
</div>

<div class="error-page" style="padding:0">
    <div class="error-page-content" style="padding:0">
        <div class="error-img">
            <img src="~/img/page/login.svg" alt="" />
        </div>

        <h1>¡Ya casi!</h1>
        <h3>Verifica tu correo.</h3>
        <a href="./Login" class="btn btn-primary">Volver</a>
    </div>
</div>
<div id="footer" class="app-footer" style="margin:0px; position: fixed;padding-top: 5px;padding-bottom: 5px">
    <table width="100%">
        <tr>
            <td width="50%">Copyright &copy; @DateTime.Now.Year General Ledger & CIA S.A.S. Todos los derechos reservados.</td>
            <td width="50%" style="text-align:right"><a href="https://www.glerp.net.co" target="_blank"><img style="float: right;" src="~/img/LogoGL.png" alt="General Legder" height="40" width="120"></a></td>
        </tr>
    </table>
</div>