@page
@{
    ViewData["Title"] = "Confirmando";
    ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    ViewData["AppWithoutHeader"] = true;
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutFotter"] = true;
    ViewData["AppWithoutContainer"] = true;
    var url = TempData["UrlEmpresa"] as string;
    var logo = TempData["Logo"] as string;
}
<div class="container-fluid fixed-top d-flex justify-content-start my-2">
    <img src="@logo" width="200px" height="30px" class="img-fluid" alt="Logo PowerBy GeneralLedger">
</div>

<div class="error-page" style="padding:0">
    <div class="error-page-content" style="padding:0">
        <div class="error-img">
            <img src="~/icon/email.svg" alt="" />
        </div>

        <h1>¡Ya casi!</h1>
        <h3>Estamos validando tu identidad.</h3>
        <h3>Enviaremos un correo notificandote cuando puedas ingresar.</h3>
        <a href="@url" class="btn btn-primary">Volver</a>
    </div>
</div>


